<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://git-wip-us.apache.org/repos/asf/wicket/repo?p=wicket.git;a=blob_plain;f=wicket-core/src/main/resources/META-INF/wicket-1.5.xsd;hb=master">
<head>
<wicket:head>
	<style type="text/css">
		.campaignInfo {
			background-color : #00b86c;
			color : #ffffff;
			font-weight: bold;
		}
	</style>
</wicket:head>
</head>
<body>
	<wicket:panel>
		<div class="panel panel-default campaignInfo">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<h3 style="margin-top:7px">Kampagneinformation</h3>
						<div wicket:id="text"></div>
					</div>
				</div>
			</div>
		</div>
	</wicket:panel>
</body>
</html>
