.bundle {
    text-align: left;
    backface-visibility: hidden;
    display: inline-block;
    vertical-align: top;
    border: 0px none;
    background: none repeat scroll 0px center transparent;
    margin: 15px 0 10px 0;
    width: 100%;
}		

.bundle-header {
    border-radius: 10px 10px 0px 0px;
    background-color: #004B92;
    overflow: hidden;
    padding: 7px 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    font-weight: bold;
    line-height: 18px;
}

.bundle-name {
    margin: 0 0 0 4px;
    padding: 0px;
    font-size: 15px !important;
    text-align: center !important;
    color: #FFF;
    font-weight: bold;
    line-height: 18px;
}

.bundle-product {
}

.bundle-product-primary-container {
    background-color: #FFF;
    position: relative;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: left;
}
	
.bundle-product-primary {
	margin: 0px;
	padding: 3px 6px;
	border-right: 1px solid #BEC2C4;
	border-left: 1px solid #BEC2C4;
	border-color: -moz-use-text-color #BEC2C4 #BEC2C4;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	color: #192228;
	border-bottom: 1px solid #BEC2C4;
	font-size: 15px;
	font-weight: bold; 
	height: auto;
	letter-spacing: -0.5px;
	line-height: 30px;
	overflow: hidden;
	text-align: center;
}

.bundle-product-secondary-container {
    padding: 0px;
    position: relative;
    z-index: 2;
    border-radius: 0px 0px 10px 10px;
    background-color: #EAEBEC;
    background-clip: padding-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    background-image: -moz-linear-gradient(center bottom , #FFF 2.5%, #DDD 97.5%);
    color: #FFF;
    text-align: left;
}

.bundle-product-secondary:first-child {
    border-top: 0px none;
}
.bundle-product-secondary {
    overflow: visible !important;
    padding: 0px 10px;
    border-top: 1px solid #BFC3C5;
    color: #192228;
    font-size: 13px;
    min-height: 10px;
    line-height: 33px;
    text-align: left;
    margin: 0px;
}

.bundle-product-tertiary {
    padding: 0px 10px;
	background-color: #F93;
	color: #FFF;
    line-height: 30px;
    font-size: 13px;
    font-weight: bold;
}

.bundle-product-tertiary:last-child {
	border-radius: 0px 0px 8px 8px;
}

.bundle-product-optional-container {
    margin: 7px 7px 0px 7px;
    padding: 0px;
    position: relative;
    z-index: 2;
    border-radius: 10px 10px 10px 10px;
    background-color: #8ae234;
    background-clip: padding-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    background-image: -moz-linear-gradient(center bottom , #FFF 2.5%, #DDD 97.5%);
    color: #FFF;
    text-align: left;
}

.bundle-product-optional:first-child {
    border-top: 0px none;
}
.bundle-product-optional {
    overflow: visible !important;
    padding: 0px 10px;
    border-top: 1px solid #57AF01;
    color: #192228;
    font-size: 13px;
    min-height: 10px;
    line-height: 33px;
    text-align: left;
    margin: 0px;
}

.bundle-product-nonoptional-container {
    margin: 7px 7px 0px 7px;
    padding: 0px;
    position: relative;
    z-index: 2;
    border-radius: 10px 10px 10px 10px;
    background-color: #f65c5e;
    background-clip: padding-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    background-image: -moz-linear-gradient(center bottom , #FFF 2.5%, #DDD 97.5%);
    color: #FFF;
    text-align: left;
}

.bundle-product-nonoptional:first-child {
    border-top: 0px none;
}
.bundle-product-nonoptional {
    overflow: visible !important;
    padding: 0px 10px;
    border-top: 1px solid #AA1012;
    color: #192228;
    font-size: 13px;
    min-height: 10px;
    line-height: 33px;
    text-align: left;
    margin: 0px;
}

.bundle-box {
	float: left;
	max-width: 220px;
    margin: 12px;
    vertical-align: top;
}

.bundle-box.twocols{
	max-width: 346px;
	width: 44%;
}