<html xmlns:wicket="http://wicket.apache.org">
    <head>
        <title>ControlGroup</title>
    </head>
    <body>
        <wicket:border>
            <div class="form-group">
	            <label wicket:id="label" class="col-sm-5 control-label">Text input</label>
				<div wicket:id="editorCol" class="col-sm-7">
					<wicket:body/>
	 				<p wicket:id="error" class="help-block"></p>
	                <p wicket:id="help" class="help-block">Supporting help text</p>
				</div>
            </div>
        </wicket:border>
    </body>
</html>

