<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<head>
<wicket:head>
<style type="text/css">
.form-horizontal .control-label {
  float: left;
  width: 320px;
  padding-top: 5px;
  text-align: right;
}

.form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 340px;
  *margin-left: 0;
}
</style>
</wicket:head>
</head>
<body>
	<wicket:extend>
		<div wicket:id="jsr303form"></div>
	</wicket:extend>
</body>
</html>